body{
  background-image: url('/public/background.jpg');
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.App {
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
